.accordion div:first-child {
    border-top: none;
}

.accordion {
    border-bottom: 1px solid rgb(38, 54, 64, 0.15);
}

.accordion-active-icon{
    position: absolute;
    left: -25px;
    display: flex;
    align-items: center;
}

.accordion-arrow-img img {
    height: 20px;
    width: 20px;
}

.accordion .title {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    font-size: 18px;
    font-weight: 500;
    border-top: 1px solid rgb(38, 54, 64, 0.15);
    color: var(--secondary);
}

.accordion .title.active {
    border-bottom: none;
    color: var(--primary);
}

.accordion .title .toggle-icon {
    margin-left: 1rem;
    transition: transform 0.5s ease;
    font-weight: 300;
}

.accordion .title.active .toggle-icon {
    transform: rotate(180deg);
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    color: var(--primary);
    line-height: 26px;

}

.accordion .content p {
    padding: 0 0 30px 0;
    margin: 0;
    font-weight: 400;
}

.accordion .content.active {
    max-height: 200px; /* Adjust this value based on the maximum expected content height */
    transition: max-height 0.5s ease-in-out;
    overflow: auto;
}

