.header-container {
    position: relative;
}

.header-background {
    position: relative;
    font-size: 80px;
    opacity: 3%;
    font-weight: 700;
    left: -25px;
}

.header-container .header {
    position: absolute;
    bottom: -5px;
}

.counter-panel {
    display: flex;
    margin: 60px 0;
}

.accordion-and-counter-panel {
    margin-left: 100px;
    margin-bottom: 200px;
}
