.header-container {
    position: relative;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 80px;
    opacity: 0.3;
}

.header {
    position: relative;
    z-index: 1;
}
